<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 透析液电解质监测记录  mapper文件  用于书写复杂sql -->
<mapper namespace="com.huamai.hdServer.mapper.TxyDjzJcjlMapper">
 	<select id="getAll" resultType="com.huamai.hdServer.domain.TxyDjzJcjl">
 		select id,jcrq,weizhi,txy,na,k,ca,cl,txyResult,sri22,sri26,ddz,jqjcResult,sjr,remark,courtyardArea
 		 from txydjzjcjl
 		 where is_delete = 0
 		 <if test="startTime != null">
			AND jcrq >= #{startTime}
		</if>
		<if test="endTime != null">
			AND jcrq &lt;= #{endTime}
		</if>
		<if test="courtyardArea != null and courtyardArea != ''">
			AND courtyardArea = #{courtyardArea}
		</if>
 		 order by jcrq desc
 	</select>
</mapper>